{% extends 'layout.html' %}
{% block content %}

<style>
    body {
        background-color: #080808;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
       
    }

    .card {
        width: 400px;
        background-color: #fcf9f9;
        border-radius: 8px;
       margin: 25px;
        padding: 30px;
    }

    .form-heading {
        font-size: 24px;
        font-weight: bold;
        color: #333;
        margin-bottom: 20px;
        text-align: center;
    }

    .form-floating label {
        color: #555;
    }

    .form-floating input[type="text"],
    .form-floating input[type="email"],
    .form-floating textarea {
        border: 1px solid #ccc;
        border-radius: 6px;
        padding: 10px;
        width: 100%;
        margin-bottom: 3px;
    }

    .form-floating input[type="submit"] {
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 6px;
        padding: 12px 20px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .form-floating input[type="submit"]:hover {
        background-color: #0056b3;
    }

    /* Add some animation effects using wow.js */
    
</style>



<div class="container">
    <div class="card">
        <div class="form-heading">FORM SUBMISSION</div>
        <form action="" method="post" enctype="multipart/form-data">
            <div class="row g-3">
                <div class="col-md-12">
                    <div class="form-floating">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div>
                            <input type="submit" value="SUBMIT">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</div>

{% endblock %}
