{%extends 'layout.html'%}
{%block content%}
<html>
    <head><title>VIEW CATEGORY</title></head>
    <body>
        <br>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">User Name</th>
                    <th scope="col">Contact</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Message</th>
                    <th scope="col">Response</th>
                </tr>
            </thead>
            <tbody>
                {% for i in a%}
                <tr>
                    <td>{{i.rid.username}}</td>
                    <td>{{i.rid.phone_no}}</td>
                    <td>{{i.subject}}</td>
                    <td>{{i.message}}</td>
                    <td>{{i.response}}</td>
                    
                    <!-- <!-- <td><a class="btn btn-success btn-sm" href="/edit_cat/{{i.id}}">Edit</a></td> -->
                    <td><a class="btn btn-success btn-sm" href="/response/{{i.id}}">RESPONSE</a></td>
                    
            
                    
                </tr>
                {%endfor%}
            </tbody>
        </table>
        
    </body>
</html>

{%endblock%}