{%extends 'layout.html'%}
{%block content%}
<html>
    <head><title>VIEW BOOK</title></head>
   
    <body>
        {{request.user.id}}
        
        <table class="table table-borderless table-hover">
            <thead>
                <tr>
                    <th scope="col">NAME</th>
                    <th scope="col">EMAIL</th>
                    <th scope="col">ADDRESS</th>
                    <th scope="col">CATEGORY</th>
                    <th scope="col">NAME</th>
                    <th scope="col">PRICE</th>
                    <th scope="col">BOOKING DATE</th>
                    <th scope="col">BOOKING TIME</th>
                   
                   
                    
                    
                   
                </tr>
            </thead>
            <tbody>
                {% for i in x%}
                <tr>
                   
                    
                    <td>{{i.user.name}}</td>
                    <td>{{i.user.email}}</td>
                    <td>{{i.user.address}}</td>
                    <td>{{i.product.category}}</td>
                    <td>{{i.product.name}}</td>
                    <td>{{i.product.price}}</td>
                    <!-- <td>{{i.service.name}}</td> -->
                    
                    <td>{{i.booking_date}}</td>
                    <td>{{i.booking_time}}</td>
                    
                    
                   
            
                    
                </tr>
                {%endfor%}
            </tbody>
        </table>
        
    </body>
</html>

{%endblock%}