{%extends 'layout.html'%}
{%block content%}
<html>
    <head><title>EDIT CATEGORY</title></head>
    <body>
        <div class="container">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for x in form %}
                {{x.label_tag}}{{x}}
                {% endfor %}
                <div>
                    <input type="submit" value="EDIT">

                </div>
            </form>
        </div>
    </body>
</html>
{%endblock%}